# Ignore the virtual environment directory
venv/

# Ignore environment variable files
.env
secrets.json

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore temporary files
*.log
*.tmp
.DS_Store
*.swp

# Ignore system files
Thumbs.db
